*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#001F5B;
color:white;
}

.hero{
background:linear-gradient(
135deg,
#001F5B,
#0039A6
);
padding:50px 20px;
text-align:center;
}

.hero h1{
font-size:2rem;
color:#FFD700;
}

.hero p{
margin-top:10px;
}

section{
padding:20px;
}

.results,
.ranking,
.history{
max-width:1200px;
margin:auto;
}

h2{
margin-bottom:15px;
color:#FFD700;
}

.match-card{
background:#0b2b75;
padding:15px;
margin-bottom:10px;
border-radius:10px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
color:black;
}

th{
background:#0039A6;
color:white;
padding:12px;
}

td{
padding:12px;
border-bottom:1px solid #ddd;
text-align:center;
}

.table-wrapper{
overflow-x:auto;
}

footer{
text-align:center;
padding:20px;
background:#000f30;
margin-top:30px;
}

.admin-container{

max-width:900px;

margin:25px auto;

background:white;

color:black;

padding:20px;

border-radius:12px;

}

.admin-container input{

width:100%;

padding:12px;

margin-bottom:10px;

}

.admin-container button{

width:100%;

padding:12px;

background:#0039A6;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

}

.admin-container button:hover{

opacity:0.9;

}
